@import url("../../styles/style.css");

.dash-container {
  width: 90%;
  margin-inline: auto;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-img {
  width: 40%;
}
.task-img,
.form-container {
  flex: 1;
}
.form-container {
  /* border: 1px solid red; */
}

.create-task-btn.show-btn {
  background-color: var(--show-btn-color);
  width: 15rem;
}
.create-task-btn {
  cursor: pointer;
  font-family: "Arial", sans-serif;
  background-color: var(--create-btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  width: 10rem;
  gap: 8px;
  border: none;
  border-radius: 6px;
  color: #fff;
}

.create-task {
  font-size: 21px;
}
.create-logo {
  font-size: 28px;
  margin-right: 0.2rem;
}
.button-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}
